#transitionIn {
  animation: transitionIn 1s;
  position: relative;
}

.transitionOut {
  top: -500px;
  bottom: -10px;
  opacity: 0;
  transition: all 1s ease;
  position: absolute;
}

.transitionOut.show {
  top: 0px;
  opacity: 1;
}

.transitionRight {
  animation: outputTransition 1s;
}

#output {
  opacity: 0;
  font-size: 20px;
  left: -300px;
  position: relative;
  transition: all 1s ease;
}

#output.show{
  left: 0px;
  top: 15px;
  position: absolute;
  width: 100%;
  opacity: 1;
}

@keyframes transitionIn{
  from {
    opacity: 0;
    top: -500px;
  }

  to {
  opacity: 1;
  top: 0rem;
  }
}

.jumbotron {
  text-align: center;
  background-color: rgb(48, 16, 78);
  color: white;
}

body {
  background-color: blueviolet;
  font-family: 'Roboto';
}

.well{
  background-color: rgb(48, 16, 78);
  color: white;
  border-color: rgb(48, 16, 78);
}

button {
  background-color: rgb(108, 36, 177);
}

input.form-control {
  background-color: rgb(77, 5, 144);
  color: white;
}

